<div class="d-flex justify-content-center mt-3">
  <button mat-button [routerLink]="['/items']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="col-6" *ngIf="currentProject$ | async as project">
    <mat-card-header class="align-self-center">
      <mat-card-title>
        <h3 mat-line>Item Id</h3>
        <p>{{project.id}}</p>
        <h3 mat-line>Item Name</h3>
        <p>{{project.name}}</p>
        <h3 mat-line>Item Description</h3>
        <p>{{project.description}}</p>
        <h3 mat-line>Approved by Customer</h3>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
